@import '../assets/styles/variables';

.card-detail__container {
  width: 100%;
  margin-top: 35px;
  box-sizing: border-box;

  &--image {
    width: 100%;
    height: 480px;
  }

  &--image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &--bottom {
    padding: 50px;
    box-sizing: border-box;
    background: $light-blue;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.4px;
    display: flex;
    justify-content: space-between;

    &__left {
      flex: 0 0 70%;
      &--title {
        font-size: 19px;
        font-size: $main-weight;
        color: $white;
        margin-bottom: 15px;
      }

      &--description {
        color: $gray;
      }
    }
    &__right {
      display: flex;
      justify-content: center;
      align-items: center;
      &--button {
        background-color: $accent;
        position: relative;
        top: 10px;
        left: 25px;
        border: none;
        outline: none;
        color: $white;
        padding: 10px;
        width: 200px;
        font-size: 18px;
        font-weight: $main-weight;
        text-align: center;
        cursor: pointer;
        user-select: none;

        

        &:hover {
          background: $secondary;
        }
        &:disabled {
          background: $disabled;
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .card-detail__container {
    &--bottom {
      display: block;
      &__right {
        &--button {
          width: 100%;
          left: 0;
        }
      }
    }
  }
}
