@import '../assets/styles/variables';

.cart__container {
  width: 350px;
  height: 400px;
  padding: 30px 20px;
  box-sizing: border-box;
  margin: 35px 35px 0 0;
  background: $light-blue;

  &--icon {
    font-size: 30px;
    vertical-align: middle;
    color: $white;
  }

  &--title {
    color: $white;
    font-weight: bold;
    margin-left: 15px;
  }
  &--basket {
    margin-top: 15px;
    padding: 15px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    box-sizing: border-box;
    border-color: $white;
    min-height: 150px;
    color: $gray;
    overflow-y: scroll;
    max-height: 150px;
    font-size: 14px;

    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: $gray;
      outline: 1px solid slategrey;
    }
  }

  &--item {
    padding: 15px;
    background: $dark-blue;
    color: $white;
    margin-top: 2px;
    position: relative;

    &__price, &__total {
      color: $accent;
      font-weight: $main-weight;
      margin-right: 10px;
    }
    &__remove {
      color: $danger;
      font-size: 20px;
      position: absolute;
      top: 12px;
      right: 10px;
      cursor: pointer;
      &:hover {
        color: $dark-danger;
      }
    }
    &__cart-number {
      margin-right: 10px;
    }
  }
  &--description {
    color: $gray;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.4px;
    margin-bottom: 25px;
  }

  &--no-item {
    text-align: center;
    vertical-align: middle;
    line-height: 120px;
  }
}

@media all and (max-width: 900px) {
  .cart__container {
    margin: auto;
    width: 95%;
  }
}
