// Colors
$white:         #ffffff;
$gray:          #D6D6D6;
$black:         #000000;

$light-text:    #858585;
$dark-text:     #424242;

$light-blue:    #155BCC;
$dark-blue:     #164FAC;

$accent:        #2FDA7F;
$secondary:     #1FAD61;
$background:    #FAFAFA;
$search:        #F5F5F5;
$disabled:      #2197A8;
$danger:        #E74C3C;
$dark-danger:   #C0392B;

// Fonts
$main-font:    'Roboto';
$second-font:  'Lato';
$main-weight:   300;

$gutter: 50px;
$minWidth: 250px;
$maxWidth: 1fr;


